.circle-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
  }
  
  .circle-button.active {
    background-color: white;
  }

  .tab-item.active {
    border-bottom: 2px solid rgb(0, 218, 0);
  }
